.title{
    text-align:center;
    width:100%;
    background-color:rgb(0, 140, 255);
    font-size:40px;
    padding:10px;


}

.title h1{
     display:inline;
     color:white;
     font-size:40px;
     margin-left:600px;
}

.title button{
    margin-left:600px;
    padding:10px;
    font-size:20px;
}

.picture{
    width:100%;
}

#start, #status{
    font-size:20px;
}

h4{
    background-color:rgb(0, 140, 255);
    line-height:2;
    font-size:25px;
    margin:0px;
    padding:10px;
    color:black;
    bottom:0;
    
}

.modal-dialog{
   width:90%;
}

.instructions{
    display:inline-block;
    width:45%;
    
}

video{
    background:url("game_console.png");
    background-size:cover;
    background-position:center;
    padding:25px;
}